.cardList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    max-width: 400px;
    width: auto;
    background-color: #858585;
    box-shadow: hsla(268, 45%, 62%, 0.5) 0px 5px 16px !important;
    height: auto;
    border-radius: 6px;
    transition: 0.5s;

    position: relative;
    overflow: hidden;
}
.cardList:hover{
    transition: 0.4s;
    transform: translateY(-10px);
    box-shadow: hsla(268, 60%, 64%, 0.63) 0px 10px 22px !important;
}
.cardTitulo{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    height: 30px;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 10px 0 0 0;
}
.cardTitulo h3{
    margin: 0;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    position: relative;
}
.cardTitulo h3::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    /* background: linear-gradient(to left, #0000ff00 0%, #435edac7 90%); */
    background-color: #ff5e00;;
    bottom: -0px;
    border-radius: 100px;
    max-width: 340px;
    top: 25px;
    
}
.cardTitulo p{
    margin: 0;
}
.cardConteudo{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    text-align: left;
    background-color: rgba(8, 34, 66, 0.041);
    margin: 0 10px 0 10px;
}
.cardConteudos{
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 10px 0 10px 0;
}