
body,html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
.pagina{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.conteudoPagina{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
  align-items: center;
}