
body,html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
.conteudosPagina{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.conteudoPagina{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pagina {
  display: flex;
}

.conteudo {
  margin-left: 80px; /* Espaço correspondente à largura da BarraLateral */
  margin-top: 80px; /* Espaço para a altura da Navbar */
  padding: 20px; /* Padding opcional para espaçamento interno */
  width: 100%; /* Garantir que o conteúdo ocupe o restante da tela */
}
